<section class="user-widget">
    <md-list-item class="user-widget__info">
        <div class="user-widget__icon">
            <md-icon class="user-widget__icon_font">account_circle</md-icon>
        </div>
        <div class="user-widget__name"
             *ngIf="user && user.email">
            {{user.email}}
        </div>
    </md-list-item>
    <md-list-item  class="user-widget__buttons">
        <button md-raised-button
                class="user-widget__logout">
            Logout
        </button>
    </md-list-item>
</section><!-- /.user-widget -->