<section class="all-users-order" *ngIf="allUsersOrder">
    <div class="all-users-order__title" *ngIf="allUsersOrder.dayFriendlyName">
        <h1 class="all-users-order__day">{{allUsersOrder.dayFriendlyName}}</h1>
        <div class="all-users-order__date">{{allUsersOrder.date | date:'dd/MM/yyyy'}}</div>
    </div><!-- /.all-users-order__title -->
    <div class="all-users-order__body">
        <table *ngIf="availableDishGroupList">
            <tr *ngIf="availableDishGroupList">
                <th>#</th>
                <th>Name</th>
                <th *ngFor="let dishGroup of availableDishGroupList">{{dishGroup.name}}</th>
            </tr>
            <tr *ngFor="let customer of allUsersOrder.usersLunchesList; let i = index">
                <td>{{i+1}}</td>
                <td>{{customer.userName}}</td>
                <td *ngFor="let dishGroupOrder of customer.userOrder">
                    <ng-template [ngIf]="dishGroupOrder && dishGroupOrder.dish">
                        {{dishGroupOrder.dish.name}}
                    </ng-template>
                </td>
            </tr>
        </table>
    </div><!-- /.all-users-order__body -->
</section><!-- /.all-users -->
