<section class="lunch-dish-group"
         *ngIf="hasDishes()">
    <md-grid-list cols="10"
                  rowHeight="50px"
                  (click)="showGroupDishes()"
                  class="lunch-dish-group__manage">
        <md-grid-tile class="lunch-dish-group__icons">
            <md-icon *ngIf="isGroupDishesVisible">expand_less</md-icon>
            <md-icon *ngIf="!isGroupDishesVisible">expand_more</md-icon>
        </md-grid-tile><!-- /.lunch-dish-group__icons -->
        <md-grid-tile class="lunch-dish-group__name">
            {{dishGroup.name}}
        </md-grid-tile><!-- /.lunch-dish-group__name -->
        <ng-template [ngIf]="hasGroupDishesOrder()">
            <md-grid-tile class="lunch-dish-group__order" *ngIf="order.dish">
                {{order.dish.name}}
            </md-grid-tile><!-- /.lunch-dish-group__name -->
        </ng-template>

    </md-grid-list>
    <md-grid-list cols="3"
                  rowHeight="300px"
                  *ngIf="isGroupDishesVisible">
        <md-grid-tile *ngFor="let dish of dishGroup.dishes">
            <lunch-dish [dish]="dish"
                        [isDemandFulfilled]="isDemandFulfilled()"
                        [isActive]="isDishActive(dish.name)"
                        (orderDishPlaced)="onOrderDishPlaced($event)"
                        (orderDishRemoved)="onOrderDishRemoved($event)">
            </lunch-dish>
        </md-grid-tile>
    </md-grid-list>

    <!--<div class="lunch-dish-group__manage menu menu&#45;&#45;head"-->
         <!--(click)="showGroupDishes()">-->
        <!--<ul class="clearfix menu__list">-->
            <!--<li class="lunch-dish-group__icons menu__item">-->
                <!--<md-icon *ngIf="isGroupDishesVisible">expand_less</md-icon>-->
                <!--<md-icon *ngIf="!isGroupDishesVisible">expand_more</md-icon>-->
            <!--</li>-->
            <!--<li class="lunch-dish-group__name menu__item">-->
                <!--{{dishGroup.name}}-->
            <!--</li>-->
            <!--<ng-template [ngIf]="hasGroupDishesOrder()">-->
                <!--<li class="lunch-dish-group__order menu__item menu__item&#45;&#45;right">-->
                    <!--{{order.dish.name}}-->
                <!--</li>-->
            <!--</ng-template>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div *ngIf="isGroupDishesVisible"-->
         <!--class="lunch-dish-group__body" >-->
        <!--<lunch-dish [dish]="dish"-->
                    <!--[isDemandFulfilled]="isDemandFulfilled()"-->
                    <!--[isActive]="isDishActive(dish.name)"-->
                    <!--(orderDishPlaced)="onOrderDishPlaced($event)"-->
                    <!--(orderDishRemoved)="onOrderDishRemoved($event)">-->
        <!--</lunch-dish>-->
    <!--</div>-->
</section><!-- /.lunch-dish-group -->
