.lunch-dish-group {
  margin: 20px 0;
  line-height: 3;
  &__manage {
    background: #e8e8e8;
    cursor: pointer;
  }

  &__name {
    display: inline-block;
    float: left;
    width: 150px;
  }

  &__dishes {
    display: inline-block;
    float: left;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */