@import "../../../../../node_modules/minx/src/settings",
"../../../../../node_modules/minx/src/functions",
"../../../../../node_modules/minx/src/mixins";


.sign-up {
    &__message {
        margin-bottom: 15px;
        padding: 15px;
        font-size: 0.7em;
        font-weight: bold;
        &--warning {
            background: gold;
        }
    }
    &__form {
        width: 500px;
        margin: 0 auto;
        text-align: center;
        &_item {
            margin: 0 25px;
        }
        &_submit {
            margin: 25px 0;
            background: #AED581;
        }
    }
    &__email, &__password {
        &_help {
            font-size: 0.7em;
            margin-left: 5px;
            color: red;
        }
    }
    &__register {
        font-size: 0.7em;
        &_link {
            margin-left: 5px;
        }
    }
    &__description {
        font-size: 0.7em;
    }
}